
.content-partida {
  width: 50%;
  height: 150.5vh;
}

.div-partida {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0%;
}

.hex {
    background-image: url('./logo_howards.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: blue;
} */

.div-board-partida {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    position: relative; 
    height: 100.5vh;
}

.div-izquierdo-partida {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  position: relative;
  padding: 0px;
  height: 100vh;
  margin-top: 5vh;
  margin-left: 10vh;
  align-items: center;
}

.div-derecho-partida {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  position: relative; 
  height: 100vh;
  margin-top: 10vh;
  padding: 20px;
}

.button-partida:hover {
  background-color: white;
  color: goldenrod;
}

.button-partida {
  padding: 10px 20px;
  background: goldenrod;
  transition: all 0.5s ease-in;
  text-decoration: none;
  border-radius: 7px;
  font-size: 1.2vw;
  margin-top: 15px;
}

.carta-dragon {
  height: 150px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid white;
}

.cartas {
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div-cartas {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.div-cartas p {
  padding: 1.8em;
  font-size: large;
}

svg path {
  fill:none;
  stroke: red;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

svg g text {
  font-size: 0.20em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
  background-color: black;
}


svg g {
  fill-opacity: 1;
}

svg g:hover {
  fill: red;
  fill-opacity: 1;
}

.div-cuadro-respuestas{
  display: flex;
  margin-top: 5vh;
  padding: 25px;
  justify-content: center;
  align-items: center;
  border: 3px solid;
  border-color: goldenrod;
}

svg g polygon {
  stroke: grey;
  stroke-width: 0;
  transition: fill-opacity .5s;
}

.div-info-usuario {
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
}

.div-info-usuario h2 {
  font-size: 2.5em;
  color: goldenrod;
}

.carta-usuario {
  height: 150px;
  width: 200px;
  border-color: transparent;
}

.div-info-partida {
  display: flex;
  flex-direction: column;
}

/* .grid {
    width: 500%;
} */

/* 
svg g {
  fill: white;
  fill-opacity: 0.6;
}

svg g:hover {
  fill: white;
  fill-opacity: 0.3;
}
svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: white;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}

svg g text {
  font-size: 0.22em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}
svg path {
  fill:none;
  stroke: #7be3f6;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#pat-1 {
    background-size: cover;
} 



 */
