@import url('https://fonts.cdnfonts.com/css/harry-potter');

/* BASIC */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white
}

body {
  background-color: #191414;
}

/* UTILITY */

.name {
  color: goldenrod;
}

body {
  font-family: Harry potter;
}

/* NAVBAR */

header {
  background: #191414;
  top: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #2e2c2c ;
}

.navbar {
  padding: 10px 50px;
  max-width: 100%;
  max-height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-display {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px
}

.logo-display:hover {
  fill: white;
  color: white;
}

.logo-image {
  width: 6vw;
  height: auto;
}

.title {
  font-weight: 600;
  font-size: 1.7vw;
}

.navbar-links-container {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar-link {
  font-size: 1.2vw;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.5s ease-in;
}

.navbar-element:hover > .navbar-link  {
  color: goldenrod;
}

/* FOOTER */

.footer {
  background-color: transparent;
  width: 100%;
  bottom: 0;
  padding: 10px 0px;
  text-align: center;
  color: #5d5d5d;
  position: relative;
}

@media screen and (max-width: 850px) {

  .title {
      font-size: 15px;
  }
  .logo-image {
      width: 27px;
  }

  .navbar-link {
      font-size: 9px;
  }

}